.background-login {
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );
    .login-container {
        width: 400px;
        height: 450px;
        margin: auto;
        border-radius: 15px;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        .login-content {
            padding: 40px;
            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 30px;
            }
            .login-input {
                margin: 7px 0;
                .custom-input-password {
                    position: relative;
                    i {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        cursor: pointer;
                    }
                }
            }
            .btn-login {
                width: 100%;
                margin: 10px auto;
                height: 40px;
                border: none;
                border-radius: 20px;
                color: white;
                background: linear-gradient(
                    135deg,
                    rgba(34, 193, 195, 1) 0%,
                    rgba(253, 187, 45, 1) 100%
                );
            }
            .forgot-password {
                font-size: 10px;
            }
            .social-login {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                .google {
                    font-size: 30px;
                    background-color: red;
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                }
                .facebook {
                    font-size: 30px;
                    background-color: blue;
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
