.section-specialty {
    height      : 330px;
    background  : #f5f5f5;

    .specialty-container {
        margin          : 0 160px;
        display         : flex;
        flex-direction  : column;

        .specialty-header {
            height         : 60px;
            margin-bottom  : 10px;
            padding-top    : 20px;

            .title-section {
                font-size    : 22px;
                font-weight  : 600;

            }

            .button-section {
                float           : right;
                border          : none;
                padding         : 10px 15px;
                outline         : none;
                display         : block;
                background      : #ebebeb;
                text-transform  : uppercase;

                &:hover {
                    cursor            : pointer;
                    color             : white;
                    background-color  : #f7d800;
                }
            }
        }

        .specialty-body {

            .specialty-customize {
                .bg-image {
                    background           : url('../../../assets/Speciialty/co-xuong-khop.jpg');
                    background-position  : center center;
                    background-repeat    : no-repeat;
                    background-size      : cover;
                    background-color     : #eee;
                    width                : 380px;
                    height               : 230px;
                }
            }

            //reset slick slider css

            .slick-prev {
                border       : 2px solid #d7d7d7 !important;
                left         : -10px !important;
                z-index      : 1000 !important;
                height       : 30px !important;
                width        : 40px !important;
                background   : #fff !important;
                align-items  : center !important;

                &:hover {
                    background  : #dbd0d0 !important;
                }
            }

            .slick-next {
                border       : 2px solid #d7d7d7 !important;
                right        : -10px !important;
                z-index      : 1000 !important;
                height       : 30px !important;
                width        : 40px !important;
                background   : #fff !important;
                align-items  : center !important;

                &:hover {
                    background  : #dbd0d0 !important;
                }
            }

            .slick-prev::before,
            .slick-next::before {
                font-family  : FontAwesome !important;
                color        : red !important;
            }
        }
    }
}